@model Pet_Get.Models.DTOs.CreatePostDTO

<div class="d-flex justify-content-center align-items-start h-screen pt-5">
    <form asp-controller="Post" asp-action="EditPost" method="post" enctype="multipart/form-data" class="form-control-lg background-secondary d-flex flex-column align-items-center w-75 text-dark-purple" style="padding: 50px; border-radius: 30px">
        <div class="background-secondary mb-3 d-flex justify-content-center border border-secondary" style="width: 250px; height: 250px;">
            <img id="ImagePreview" src="@Model.Post.Image" alt="Image Preview" style="width: 250px; height: 250px;"/>
        </div>
        <div class="mb-3 d-flex">
            <input id="ImageUpload" type="file" name="image" asp-for="Image"/>
        </div>
        <div class="d-flex w-50 flex-wrap gap-2 justify-content-center">
            <div class="mb-3">
                <input asp-for="Title" value="@Model.Post.Title" placeholder="Title" class="w-100 form-control-lg border-0"/>
            </div>
            <div class="mb-3">
                <input asp-for="Description" value="@Model.Post.Description" placeholder="Description" class="w-100 form-control-lg border-0"/>
            </div>
            <div class="mb-3">
                <input asp-for="PhoneNumber" value="@Model.Post.PhoneNumber" placeholder="PhoneNumber" class="w-100 form-control-lg border-0"/>
            </div>
            <div class="mb-3">
                <input asp-for="Email" value="@Model.Post.Email" placeholder="Email" class="w-100 form-control-lg border-0"/>
            </div>
        </div>
        <input hidden="hidden" asp-for="Id"/>
        <div class="d-flex w-50 flex-wrap gap-2 justify-content-center">

            <div class="mb-3">
                <div class="d-flex justify-content-center">
                    <label for="SelectedAnimalTypeId">Select Animal Type</label>
                </div>

                <select asp-for="AnimalTypeId" placeholder="AnimalTypeId" asp-items="@(new SelectList(Model.AnimalTypes, "Id", "Type"))" class="w-100 form-control-lg border-0 bg-white">
                    <option value="0">-- Select an animal type --</option>
                </select >
            </div>

            <div class="mb-3">
                <div class="d-flex justify-content-center">
                    <label for="NewAnimalType">Or Enter New Animal Type</label>
                </div>
                <input type="text" asp-for="NewAnimalType" placeholder="Enter new animal type" class="w-100 form-control-lg border-0"/>
            </div>
        </div>
        <div class="mb-3">
            <input type="checkbox" id="Featured" placeholder="test" checked="@Model.Post.Featured" asp-for="Featured" class=""/>
            <label for="Featured">Featured</label>
        </div>
        <button type="submit" class="btn btn-primary rounded-3">Save</button>
    </form>
</div>

<script>
    document.getElementById('ImageUpload').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const img = document.getElementById('ImagePreview');
                img.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    });
</script>