@model Pet_Get.Models.DTOs.ForumDTO

<div class="h-screen">
    <div class="d-flex p-5 justify-content-center">
        <div class="w-75 p-5 background-secondary" style="border-radius: 30px">
            <div class="d-flex justify-content-center">
                <img style="width: 250px; height: 250px" src="@Model.Forum.Image" alt="Image"/>
            </div>
            <div class="mt-3">
                <h1 class="text-dark-purple">@Model.Forum.Title</h1>
                <p class="text-dark-purple">@Model.Forum.Description</p>
            </div>
        </div>
    </div>
    <form asp-controller="Forum" asp-action="Comment" method="post" style="height: 150px" class="px-5 d-flex flex-column align-items-center">
        <textarea class="w-75" asp-for="Comment.Body"></textarea>
        <button class="btn btn-primary mt-1">Add</button>
        <input hidden="hidden" asp-for="Comment.ForumId" value="@Model.Forum.Id"/>
    </form>
    <div class="d-flex flex-column align-items-center">
        <h5 class="fw-bold text-dark-purple">Comments:</h5>
        @foreach (var comment in Model.Forum.Comments)
        {
            <div class="py-3 px-5 mb-3 w-75 background-secondary mx-auto">
                @comment.Body
            </div>
        }
    </div>
</div>